    <div class="movie-grid">
        <div class="grid-container">
            {% for project in projects %}
                {% for photo in project.photos %}
                    <div class="grid-item">
                        <a href="{{ project.link }}"><img id="logo" src="{{ photo }}" alt="{{ project.name }}"></a>
                        <h3>{{ project.name }}</h3>
                        <h4>{{ project.date }}</h4>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>