{% extends "base.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/card.css') }}">
{% endblock %}

{% block body %}

<div class="search-container">
<form action="/" method="post">
  <input type="text" name="search" id="search" placeholder="Search projects">
  <input type="submit" id="submit" value="Search">
</form>
</div>
<br><br><br>
  {% if results %}
  <p id="result">Showing results for "{{ query }}":</p>
  <br><br><br>
  <div class="movie-grid">
    <div class="grid-container">
      {% for result in results %}
        <div class="grid-item">
          <a href="{{ url_for('project', name=result.name) }}"><img id="logo" src="{{ result.photos[0] }}" alt="{{ result.name }} image"></a>
          <h3>{{ result.name }}</h3>
          <h4>{{ result.date }}</h4>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}


<div class="row cards-container">
    {% include "card.html" %}
</div>

{% endblock %}
